html * {
    font-family:sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}


header,
footer{
    padding: 20px, 10px, 30px, 20px;
    text-align: center;
}


.container {
    display: inline;
    line-height: 25px;
    list-style-type: none;
}

#menu-1{
    border-style: solid;
    border-color: silver;
    background-color:silver;
    color: white;
    text-emphasis-color: white;
}

.container ul li{
    display:inline;
    margin-left: 200px;
    margin-right: 150px;
}


img.one {
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 350px;
    height:25%;
    width:25%;
    position: relative;
}

img.two{
    display: block;
    width: 420px;
    height: 425px;
}

img.three{
    display: block;
    width: 240px;
    height: 250px;
}

#about-me{
    position: absolute;
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 375px;
}

#project-1{
    background-color: aqua;
    display: inline-block;
    width: 435px;
    height: 475px;
    margin: 10px 30px 20px 50px;
    padding: 30px;
    
}

#project-1:hover{
    background-color: black;
    color: aliceblue;
}

#project-2{
    background-color: rgb(30, 109, 83);
    display: inline-block;
    width: 260px;
    height: 270px;
    margin: 5px 15px 10px 20px;
    padding: 20px
   

}

#project-3{
    background-color: rgb(13, 33, 183);
    display: inline-block;
    width: 260px;
    height: 270px;
    margin: 5px 20px 10px 30px;
    padding: 20px;


}

#contact {
    background-color: rgb(167, 166, 162);
    display: inline-block;
    padding-left: 100px;

}


