html * {
    font-family:sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}


header{
    padding: 20px, 10px, 30px, 20px;
    text-align: left;
}

footer{
    padding: 20px, 0px, 30px, 20px;
    text-align: center;
}


.categories ul li{
    display:inline;
    margin-left: 150px;
    margin-right: 150px;
}

.container ul li{
    display:inline;
    margin-left: 50;
    margin-right: 150px;
}

img.one {
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 120px00px;
    height: 425px;
    width:375px;
    position: relative;
}

.container p{
    flex-wrap: wrap;
    display: inline-block;
    position: absolute;
    padding-left: 50px;
    padding-right: 375px;
    max-height: 50px;
}



img.two{
    display: block;
    width: 420px;
    height: 425px;
}

img.three{
    display: block;
    width: 240px;
    height: 250px;
}


#project-1{
    background-color: rgb(14, 111, 111);
    display: inline-block;
    width: 435px;
    height: 475px;
    margin: 10px 30px 20px 20px;
    padding: 30px;
    
}

#project-1:hover{
    background-color: black;
    color: aliceblue;
}

#project-2{
    background-color: rgb(24, 111, 111);
    display: inline-block;
    width: 260px;
    height: 270px;
    margin: 5px 15px 10px 20px;
    padding: 20px

}

#project-2:hover{
    background-color: black;
    color:aliceblue
}


#contact {
    background-color: rgb(167, 166, 162);
    display: inline-block;
    padding-left: 100px;

}
.container h2 li{
    color: white;
}


