html * {
    font-family:sans-serif;
    flex-wrap: wrap;
}

header{
    padding: 20px;
    text-align: center;
}

.container {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}


.container ul li{
    display: inline-block;
    margin-left: 100px;
}

img.one {
    height:50%;
    width:50%;
}

.box {
    width: 250px;
    height: 250px;
}

.box-blue {
    color: whitesmoke;
    background-color: rgb(167, 166, 162);
}

.box-teal {
    color: whitesmoke;
    background-color: teal;
}

#section-1 {
    color: black;
    background-color: blue;
}